
<h1>Editing placemark</h1>

<% form_for(@placemark) do |f| %>
  <%= f.error_messages %>

   <p>
   <% Category.all.each do |c|  %>     
   <input id="placemark_category_id" name="placemark[category_id]" type="radio" value=<%=c.id%> <%= (Category.all.first==c ? "checked" : "")%> > <%=c.name%> <br />
   <% end %>
  </p>

  <p>
    <%= f.label "Адрес" %><br />
    <%= f.text_field :adress %>
  </p>
  <p>
    <%= f.label "Координата" %><br />
    <%= f.text_field :geopoint %>
  </p>
  <p>
    <%= f.label "Описание" %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label "Фото" %><br />
    <%= f.text_field :foto %>
  </p>
  <p>
    <%= f.submit 'Обновить' %>
  </p>
<% end %>

<%= link_to 'Просмотр', @placemark %> |
<%= link_to 'К карте', placemarks_path %>





