
<h1>Editing placemark</h1>

<% form_for(@placemark) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Тип метки" %><br />
    <%= f.text_field :kind %>
  </p>
  <p>
    <%= f.label "Адрес" %><br />
    <%= f.text_field :adress %>
  </p>
  <p>
    <%= f.label "Координата" %><br />
    <%= f.text_field :geopoint %>
  </p>
  <p>
    <%= f.label "Описание" %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label "Фото" %><br />
    <%= f.text_field :foto %>
  </p>
  <p>
    <%= f.submit 'Обновить' %>
  </p>
<% end %>

<%= link_to 'Просмотр', @placemark %> |
<%= link_to 'К карте', placemarks_path %>





