<p>
  <b>Тип:</b>
  <%=h @placemark.category.name %>
</p>

<p>
  <b>Адрес:</b>
  <%=h @placemark.adress %>
</p>

<p>
  <b>Координата:</b>
  <%=h @placemark.geopoint %>
</p>

<p>
  <b>Описание:</b>
  <%=h @placemark.description %>
</p>

<p>
  <b>Фото:</b>
  <%=h @placemark.foto %>
</p>


<%= link_to 'Редактировать', edit_placemark_path(@placemark) %> |
<%= link_to 'К карте', placemarks_path %>
