<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 
  <title> Дороги Кургана </title>

  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<% if logged_in? -%>
<div id="user-bar-greeting"> 
  Вошел как <%= link_to_current_user :content_method => :login %> 
</div>

<div id="user-bar-action"  >
  <%= link_to " (Выход) ", logout_path, { :title => "Выход" } %> 
</div> 

<% else -%>
<!--<div id="user-bar-greeting"><%= link_to_login_with_IP 'Логин по IP',:style=>'border: none;'%></div>--> 
<div id="user-bar-action" >
  
  <div style="float:left;" >  
    <%= link_to "Вход",  login_path,  { :title => "Вход" } %> 
  </div>
  
  <div style="float:left; margin-left: 40px; " > 
    <%= link_to "Регистрация", signup_path, { :title => "Создать учетную  запись" } %> 
  </div> 
  
</div>
<% end -%>

<br></br>

<%= yield %>
<br>

<div style = "float:left;"><a href="/about" style="border: none;" >О сайте</a></div>   
 <div style = "float:left; margin-left: 40px;" ><a href="/history" style="border: none;" >История изменений + Планы на будующее </a>  </div>


</body>
</html>
